/* 
  Styling to overwrite UIKit attributes.
*/
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  min-height: 60px !important;
}

.uk-button {
  padding: 0 18px !important;
}

.uk-label {
  text-align: center;
  border-radius: 10px !important;
}
