@import "../../utilities/variables";

.label {
    &--success {
        background-color: $color-success !important;
    }
    
    &--warning {
        background-color: $color-warning !important;
    }
    
    &--danger {
        background-color: $color-danger !important;
    }
    
}
