@import "../../utilities/variables";

.sidebar {
  position: fixed;
  right: 0;
  top: 66px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-secondary !important;
  width: 14.5rem;
  z-index: 1;

  &__wrapper {
    color: white !important;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__section {
    
      &-title{
        margin-bottom: 0.6rem !important;
      }
    
      &-text{
        font-family: $lato-bold !important;
      }

      &-review-button {
        display: flex !important;
        padding: 0.5rem 1.2rem !important;
        align-items: center !important;
        margin-top: 1.5rem !important;
      }
  }

  &__review-section {
    margin-bottom: 0.8rem;
  }

}
