<!DOCTYPE html>

<head>
    {% load account %}
    {% load socialaccount %}
    {% load compress %}
    {% load static %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'styles/main.scss' %}" rel="stylesheet"> {% endcompress %}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="{% static 'js/axios-config.js' %}"></script>
    <script src="{% static 'js/time-helper.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="An application for manually curating traits">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="outputDates()">
    <nav class="uk-navbar-container header" uk-sticky uk-navbar>
        <div class="uk-navbar-left">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="uk-navbar-nav">
                <li class="header__item {% if url_name == 'browse' %}header__item--active{% endif %}">
                    <a class="header__link" href="{% url 'browse' %}">BROWSE TRAITS</a>
                </li>
                <li class="header__item {% if url_name == 'datasources' %}header__item--active{% endif %}">
                    <a class="header__link" href="{% url 'datasources' %}">EXTERNAL DATASOURCES</a>
                </li>
            </ul>
            {% endwith %}
        </div>
        <div class="uk-navbar-right">
            {% if user.is_anonymous %}
                <button class="uk-button button button-outlined--transparent">
                    <a href="/accounts/google/login/?next={{request.path}}">
                        <span uk-icon="google" class="uk-margin-small-right"> </span> LOG IN 
                    </a> 
                </button>
            {% else %}
                <div class="auth-links">
                    <span uk-icon="icon: user; ratio: 1.3" class="auth-links__item"></span>
                    <span class="auth-links__item">{% user_display user %}</span>
                    <button class="uk-button button button-outlined--transparent auth-links__item">
                        <a href="/accounts/logout/?next={{request.path}}">
                            <span uk-icon="sign-out" class="uk-margin-small-right"> </span> SIGN OUT 
                        </a> 
                    </button>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>
