{% extends "traits/base.html" %} 
{% load static %} 
{% load trait_filters %}
{% block title %} Browse Traits {% endblock %} 
{% block content %}
<script src="{% static 'js/listjs/list.js' %}"></script>
<div id="traits-table" class="uk-container uk-container-xlarge">
  <div class="uk-margin">
    <form class="uk-search uk-search-default search">
      <span class="uk-search-icon-flip" uk-search-icon></span>
      <input
        class="uk-search-input search"
        onkeyup="search(this.value)"
        type="search"
        placeholder="Filter by trait or term name..."
      />
    </form>
  </div>

  <div class="tags">
    {% for status_name, status_attributes in status_dict.items %}
    <button
      id="{{status_name}}"
      onclick="filterClicked(this, '{{status_attributes.class}}')"
      class="tag filter uk-button button-outlined--{{status_attributes.class}}"
      data-filter="{{status_name}}"
    >
    {{status_name | status_readable_name:status_attributes.count}}
    </button>
    {% endfor %}
  </div>

  <table class="uk-table uk-table-small uk-table-divider uk-table-justify">
    <thead>
      <tr>
        <th class="uk-width-large">TRAIT NAME</th>
        <th class="uk-width-1-6">SOURCE RECORDS</th>
        <th class="uk-width-1-6">MAPPED TERM</th>
        <th class="uk-width-large">MAPPED TERM LABEL</th>
        <th class="uk-width-1-6">TRAIT STATUS</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for trait in traits %}
      <tr status="{{trait.status}}">
        <td class="name">
          <a href="{% url 'trait_detail' trait.id %}">{{trait.name}}</a>
        </td>
        <td>{% firstof trait.number_of_source_records '0' %}</td>
        <td class="curie">
          {% firstof trait.current_mapping.term_id.curie 'None' %}
        </td>
        <td class="label">
          {% firstof trait.current_mapping.term_id.label 'None' %}
        </td>
        <td>{{trait.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="{% static 'js/table-filtering.js' %}"></script>
</div>
{% endblock %}
