{% extends "traits/base.html" %}
{% load static %}
{% block title %} Browse Traits {% endblock %}
{% block content %}
<script src="{% static 'js/listjs/list.js' %}"></script>
<div id="traits-table" class="uk-container uk-container-xlarge">
  <div class="uk-margin">
    <form class="uk-search uk-search-default search">
      <span class="uk-search-icon-flip" uk-search-icon></span>
      <input
        class="uk-search-input search"
        onkeyup="search(this.value)"
        type="search"
        placeholder="Filter by trait or term name..."
      />
    </form>
  </div>

  <div class="tags">
    <button
      id="all"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--primary"
      data-filter="all"
    >
      All
    </button>
    <button
      id="awaiting_review"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--warning"
      data-filter="awaiting_review"
    >
      Awaiting Review
    </button>
    <button
      id="needs_import"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--warning"
      data-filter="needs_import"
    >
      Needs Import
    </button>
    <button
      id="awaiting_import"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--warning"
      data-filter="awaiting_import"
    >
      Awaiting Import
    </button>
    <button
      id="needs_creation"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--warning"
      data-filter="needs_creation"
    >
      Needs Creation
    </button>
    <button
      id="awaiting_creation"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--warning"
      data-filter="awaiting_creation"
    >
      Awaiting Creation
    </button>
    <button
      id="deleted"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--danger"
      data-filter="deleted"
    >
      Deleted
    </button>
    <button
      id="obsolete"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--danger"
      data-filter="obsolete"
    >
      Obsolete
    </button>
    <button
      id="unmapped"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--danger"
      data-filter="unmapped"
    >
      Unmapped
    </button>
    <button
      id="current"
      onclick="filterClicked(this)"
      class="tag filter uk-button button-outlined--success"
      data-filter="current"
    >
      Current 
    </button>
  </div>

  <table class="uk-table uk-table-small uk-table-divider uk-table-justify">
    <thead>
      <tr>
        <th class="uk-width-large">TRAIT NAME</th>
        <th class="uk-width-1-6">SOURCE RECORDS</th>
        <th class="uk-width-1-6">MAPPED TERM</th>
        <th class="uk-width-large">MAPPED TERM LABEL</th>
        <th class="uk-width-1-6">TRAIT STATUS</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for trait in traits %}
      <tr status="{{trait.status}}">
        <td class="name">
          <a href="{% url 'trait_detail' trait.id %}">{{trait.name}}</a>
        </td>
        <td>{% firstof trait.number_of_source_records '0' %}</td>
        <td class="curie">{% firstof trait.current_mapping.term_id.curie 'None' %}</td>
        <td class="label">
          {% firstof trait.current_mapping.term_id.label 'None' %}
        </td>
        <td>{{trait.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="{% static 'js/table-filtering.js' %}"></script>
</div>
{% endblock %}
