{% extends "traits/base.html" %} 
{% block title %} External Datasources {%endblock %} 
{% load static %} 

{% block content %} 
{% static "" as static_url %}
<script src="{% static 'js/datasources.js' %}"></script>
<div class="uk-container uk-container-xlarge">
  <section>
    <h4 class="uk-margin-medium-bottom">ONTOLOGY TERM SOURCES</h4>
    {% for source in ontology_sources %}
    <div class="source">
      <div class="source__top_wrapper">
        <img
          data-src="{{static_url}}/img/{{source.id}}-logo.png"
          height="140"
          width="110"
          alt="source.id"
          class="source__image"
          uk-img
        />
        <span class="source__title bold"> {{source.title}} </span>
        <button class="source__button button button--primary uk-button">
          <a href="{% url source.id %}">
            UPDATE NOW
          </a>
        </button>
      </div>
      <hr />
      <div class="source__bottom_wrapper">
        <span class="source__latest">
          <span class="bold">Latest update: </span>
          {% if source.latest_import_date %}
          <span
            class="date"
            date="{{source.latest_import_date.isoformat}}"
          ></span>
          {% else %}
          <span> No imports </span>
          {% endif %}
        </span>
        <div class="source__progress_wrapper">
          <div id="{{source.id}}-progress-bar" class="source__progress_bar">
            &nbsp;
          </div>
        </div>
        <div id="{{source.id}}-progress-bar-message">
          Waiting for progress to start...
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h4 class="uk-margin-medium-bottom">TRAIT NAME SOURCES</h4>
    {% for source in trait_sources %}
    <div class="source">
      <div class="source__top_wrapper">
        <img
          data-src="{{static_url}}/img/{{source.id}}-logo.png"
          height="80"
          width="50"
          alt="source.id"
          class="source__image"
          uk-img
        />
        <span class="source__title bold"> {{source.title}} </span>
        <button class="source__button button button--primary uk-button">
          <a href="{% url source.id %}">
            IMPORT NOW
          </a>
        </button>
      </div>
      <hr />
      <div class="source__bottom_wrapper">
        <span class="source__latest">
          <span class="bold">Latest update: </span>
          {% if source.latest_import_date %}
          <span
            class="date"
            date="{{source.latest_import_date.isoformat}}"
          ></span>
          {% else %}
          <span> No imports </span>
          {% endif %}
        </span>
        <div class="source__progress_wrapper">
          <div id="{{source.id}}-progress-bar" class="source__progress_bar">
            &nbsp;
          </div>
        </div>
        <div id="{{source.id}}-progress-bar-message">
          Waiting for progress to start...
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <a href="{% url 'all_data' %}"
    ><button class="uk-button uk-button-primary">IMPORT ALL DATA</button>
  </a>
  <a href="{% url 'dummy_data' %}"
    ><button class="uk-button uk-button-primary">IMPORT DUMMY DATA</button>
  </a>
</div>
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
  if ("{{ols_task_id}}" !== "None")
    setOlsProgressUrl("{% url 'celery_progress:task_status' ols_task_id %}");
  else setOlsProgressUrl("None");
  if ("{{zooma_task_id}}" !== "None")
    setZoomaProgressUrl(
      "{% url 'celery_progress:task_status' zooma_task_id %}"
    );
  else setZoomaProgressUrl("None");
  if ("{{clinvar_task_id}}" !== "None")
    setClinvarProgressUrl(
      "{% url 'celery_progress:task_status' clinvar_task_id %}"
    );
  else setClinvarProgressUrl("None");
</script>
{% endblock %}
