{% extends "traits/base.html" %} 
{% block title %} Trait Detail {% endblock %}
{% load trait_filters %} 
{% load static %} 
{% load socialaccount %}
{% load account %}  

{% block content %}
<aside class="sidebar">
  <div class="sidebar__wrapper">
    <div class="sidebar__section">
      <p class="sidebar__section-title">LAST UPDATED</p>
      <span class="sidebar__section-text"> {{trait.timestamp_updated}} </span>
      <hr />
    </div>
    <div class="sidebar__section">
      {% if trait.current_mapping %}
      <p class="sidebar__section-title">CURATOR</p>
      <span uk-icon="user" class="uk-margin-small-right"></span>
      <span class="sidebar__section-text">
        {{trait.current_mapping.curator.get_full_name}}
      </span>
      <hr />
      {% endif %}
    </div>
    <div class="sidebar__section">
      {% if trait.current_mapping %}
      <p class="sidebar__section-title">REVIEWED BY</p>
      {% with trait.current_mapping.review_set.all as reviews %} 
      {% for review in reviews %}
      <div class="sidebar__review-section">
        <span uk-icon="user" class="uk-margin-small-right"></span>
        <span class="sidebar__section-text"> {{review.reviewer.get_full_name}} </span>
      </div>
      {% endfor %}
      <hr />
      {% endwith %}{% endif %}
    </div>
    <div class="sidebar__section">
      {% if trait.current_mapping %}
      <p class="sidebar__section-title">REVIEW STATUS</p>
      {% if trait.current_mapping.is_reviewed %}
      <span class="uk-label label--success"> REVIEWED</span>
      {% else %}
      <span class="uk-label label--warning"> IN REVIEW </span>
      {% endif %}
        {% if not user.is_anonymous and trait.current_mapping.curator.email != user.email %}
          {% if user.email in reviewer_emails %}
          <button class="uk-button button button--disabled sidebar__section-review-button" disabled> REVIEWED </button>
          {% else %}
          <button class="uk-button button--success sidebar__section-review-button" onclick="reviewButtonClicked()">
            <span uk-icon="check"> REVIEW </span>
          </button>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</aside>

<div class="trait-container">
  <div class="uk-container uk-container-xlarge">
    <section class="info-section__wrapper">
      <div class="info-section__column">
        <span class="info-section__title">TRAIT NAME</span>
        <span class="info-section__value">{{trait.name}}</span>
      </div>
      <div class="info-section__column">
        <span class="info-section__title">SOURCE RECORDS</span>
        <span class="info-section__value"
          >{% firstof trait.number_of_source_records '0' %}</span
        >
      </div>
      <div class="info-section__column">
        <span class="info-section__title">TRAIT STATUS</span>
        <span
          class="uk-label label--{{status_dict | get_dict_item:trait.status}}"
        >
          {{trait.status | status_readable_name}}
        </span>
      </div>
    </section>

    <section class="section">

      <h4>SUGGESTED TERMS</h4>
      <table id="suggestionTable" class="uk-table uk-table-small uk-table-divider uk-table-hover">
        <thead>
          <tr>
            <th class="uk-width-1-6">TERM</th>
            <th class="uk-width-large">TERM LABEL</th>
            <th class="uk-width-1-6">SUGGESTED BY</th>
            <th class="uk-width-1-6">TERM STATUS</th>
          </tr>
        </thead>
        <tbody class="list">
        {% with trait.mappingsuggestion_set.all as suggestions %}
        {% with trait.current_mapping.term_id as current_term %}
        {% for suggestion in suggestions %}
        {% if suggestion.term_id.iri %}
          <tr 
          onclick="selectRow(this, 'suggestionTable', '{{trait.id}}', '{{suggestion.term_id.id}}')"
          class="suggestion-table__row 
          {% if suggestion.term_id == current_term and trait.current_mapping.is_reviewed %} 
          suggestion-table__row--current 
          {% endif %}
          {% if suggestion.term_id == current_term and not trait.current_mapping.is_reviewed %} 
          suggestion-table__row--awaiting_review 
          {% endif %}">
            <td>
              <a class="suggestion-table__link" target="_blank" href="{{suggestion.term_id.iri}}">
                {{suggestion.term_id.curie}} 
                {% if suggestion.term_id == current_term %} 
                <span class="uk-label label--primary">MAPPED TERM</span>
                {% endif %}</a>
            </td>
            <td>{{suggestion.term_id.label}}</td>
            <td> {{suggestion.made_by.get_full_name}}</td>
            <td>
              <span class="uk-label label--{{status_dict | get_dict_item:suggestion.term_id.status}}">
                {{suggestion.term_id.status | status_readable_name}}</span>
            </td>
          </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>

      <h5 id="newSuggestionTable-title">NEWLY SUGGESTED TERMS</h5>
      <table id="newSuggestionTable" class="uk-table uk-table-small uk-table-divider uk-table-hover">
        <thead>
          <tr>
            <th class="uk-width-1-6">TERM</th>
            <th class="uk-width-large">DESCRIPTION</th>
            <th class="uk-width-large">CROSS REFERENCES</th>
            <th class="uk-width-1-6">SUGGESTED BY</th>
            <th class="uk-width-1-6">TERM STATUS</th>
          </tr>
        </thead>
        <tbody class="list">
        {% for suggestion in suggestions %}
        {% if suggestion.term_id.description %}
          <tr 
          onclick="selectRow(this, 'newSuggestionTable', '{{trait.id}}', '{{suggestion.term_id.id}}')"
          class="suggestion-table__row 
          {% if suggestion.term_id == current_term and trait.current_mapping.is_reviewed %} 
          suggestion-table__row--current 
          {% endif %}
          {% if suggestion.term_id == current_term and not trait.current_mapping.is_reviewed %} 
          suggestion-table__row--awaiting_review 
          {% endif %}">
            <td>
              <span class="suggestion-table__link">
                {{suggestion.term_id.label}} 
                {% if suggestion.term_id == current_term %} 
                <span class="uk-label label--primary">MAPPED TERM</span>
                {% endif %}</span>
            </td>
            <td>{{suggestion.term_id.description}}</td>
            <td> {{suggestion.term_id.cross_refs}}</td>
            <td> {{suggestion.made_by.get_full_name}}</td>
            <td>
              <span class="uk-label label--{{status_dict | get_dict_item:suggestion.term_id.status}}">
                {{suggestion.term_id.status | status_readable_name}}</span>
            </td>
          </tr>
          {% endif %}
        {% endfor %} {% endwith %} {% endwith %}
        </tbody>
      </table>
      
      {% if not user.is_anonymous %}
      <button onclick="mapButtonClicked()" class="uk-button button button--primary">MAP TO SELECTION</button>
      {% endif %}
    </section>

    {% if not user.is_anonymous %}
    <section class="section">
      <h4> OTHER ACTIONS </h4>
      <div class="actions">
        <div class="action__container">
          <span class="action__title">Suggest an existing term</span>
          <input id="existingTermIRI" class="action__input" type="text" placeholder="Paste an existing term IRI...">
          <button class="uk-button button button--primary" onclick="existingTermButtonClicked()">
            ADD TERM AND MAP
          </button>
        </div>
        <div class="action__container">
          <span class="action__title">Suggest a new term</span>
          <button class="uk-button button button--primary" onclick="newTermButtonClicked()">
            CREATE NEW TERM
          </button>
        </div>
      </div>
      <div class="new_term hidden">
        <h4>New Term Information</h4>
        <form id="form" action="{% url 'add_mapping' trait.id %}" method="post">
          {% csrf_token %}
          <div class="fields">
            <div class="field__container">
              <label for="{{ new_term_form.label.id_for_label }}">Label:</label>
              {{ new_term_form.label }}
            </div>
            <div class="field__container">
              <label for="{{ new_term_form.description.id_for_label }}">Description:</label>
              {{ new_term_form.description }}
            </div>
            <div class="field__container">
              <label for="{{ new_term_form.cross_refs.id_for_label }}">Cross references:</label>
              {{ new_term_form.cross_refs }}
            </div>
          </div>
          <input type="submit" value="SUBMIT AND MAP" class="button button--primary uk-button new_term__button">
        </form>
      </div>
      <div class="new_term hidden">
        <h4>New Term Information</h4>
        <form id="form" action="{% url 'add_mapping' trait.id %}" method="post">
          {% csrf_token %}
          <div class="fields">
            <div class="field__container">
              <label for="{{ new_term_form.label.id_for_label }}">Label:</label>
              {{ new_term_form.label }}
            </div>
            <div class="field__container">
              <label for="{{ new_term_form.description.id_for_label }}">Description:</label>
              {{ new_term_form.description }}
            </div>
            <div class="field__container">
              <label for="{{ new_term_form.cross_refs.id_for_label }}">Cross references:</label>
              {{ new_term_form.cross_refs }}
            </div>
          </div>
          <input type="submit" value="SUBMIT AND MAP" class="button button--primary uk-button new_term__button">
        </form>
      </div>
    </section>
    {% endif %}
    <section class="section">
      <h4>TRAIT HISTORY</h4>

      {% if not user.is_anonymous %}
      <div class="post-comment__container">
        <div class="post-comment__header">
          <span uk-icon="user"></span>
          <span>Comment as {{user.get_full_name}}</span>
          <button class="uk-button button--primary post-comment__submit" onclick="commentButtonClicked()">Submit</button>
        </div>

        <div class="post-comment__body">
          <textarea 
          id="commentBody" 
          class="uk-textarea post-comment__textarea" 
          placeholder="Leave a commment..."></textarea>
        </div>
      </div>
      {% endif%}

      {% for event in history_events|dictsortreversed:"date" %}
      {% if event.type == 'comment' %}
      <div class="event event--comment">
        <span class="event__title">{{event.content.author.get_full_name}} commented</span>
        <span class="event__date">{{event.content.date}}</span>
        <p>{{event.content.body}}</p>
      </div>

      {% elif event.type == 'review' %}
      <div class="event">
        <p class="event__title"> 
          {{event.content.reviewer.get_full_name}} reviewed mapping of trait {{trait.name}} 
          to term {{event.content.mapping_id.term_id.label}}
        </p>
        <span class="event__date">{{event.date}}</span>
      </div>

      {% elif event.type == 'mapping' %}
      <div class="event"">
        <p class="event__title"> 
          {{event.content.curator.get_full_name}} mapped trait {{trait.name}} to term {{event.content.term_id.label}}
        </p>
        <span class="event__date">{{event.date}}</span>
      </div>

      {% endif %}

      {% endfor %}
    </section>
  </div>
</div>

<script src="{% static 'js/mapping.js' %}"></script>
<script>
  setCurrentTraitId("{{trait.id}}")
</script>
{% endblock %}
