.trait-container {
  width: 83vw;
}

.info-section {
  &__wrapper {
    display: flex;
  }

  &__column {
    margin-right: 4.2rem;
    display: flex;
    flex-direction: column;
    max-width: 40vw;

    @media (max-width: 900px) {
      max-width: 30vh;
    }
  }

  &__title {
    color: $color-gray !important;
  }

  &__value {
    color: black !important;
  }
}

.suggestion-table {
  &__row {
    cursor: pointer;
    padding: 0 2rem !important;

    &--current {
      background-color: lighten($color-secondary, 30%);

      &:hover {
        background-color: lighten($color-secondary, 30%) !important;
      }
    }

    &--selected {
      background-color: #ffffdd !important;
    }
  }
}
