.trait-container {
    margin-right: 14.5rem;
}

.info-section {
  &__wrapper {
    display: flex;
  }

  &__column {
    margin-right: 3.5rem;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
  }

  &__title {
      color: $color-gray !important;
  }

  &__value {
      color: black !important;
  }
}
