.trait-container {
  width: 85vw;
}

.info-section {
  &__wrapper {
    display: flex;
  }

  &__column {
    margin-right: 4.2rem;
    display: flex;
    flex-direction: column;
    max-width: 40vw;

    @media (max-width: 900px) {
      max-width: 30vh;
    }
  }

  &__title {
    color: $color-gray !important;
  }

  &__value {
    color: black !important;
  }
}

.suggestion-table {
  &__row {
    cursor: pointer;
    padding: 0 2rem !important;

    &--current {
      background-color: lighten($color-secondary, 30%);

      &:hover {
        background-color: lighten($color-secondary, 30%) !important;
      }
    }

    &--selected {
      background-color: #ffffdd !important;
    }
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.action {
  &__container {
    display: flex;
    gap: 1.25rem;
    align-items: center;
  }

  &__title {
    white-space: pre;
  }

  &__input {
    width: 18rem;
    border: none;
    border-bottom: 1px solid $color-gray;
    padding: 0.125rem;
    font-family: $lato;

    &:focus {
      border-bottom: 1px solid $color-primary;
    }
  }
}


.new_term {
  margin-top: 1.25rem;

  &__button {
    margin-top: 1.25rem !important;
  }
}

.fields {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-top: 1.25rem; 

}

.field {
  &__text-field {
    width: 21.875rem !important;
  }

  &__text-area {
    height: 11.25rem !important;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
  }
}
