@import "../../utilities/variables";

.source {
  margin-bottom: 6rem;

  &__top_wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto 1fr;
    justify-items: start;
    align-items: center;
  }

  &__bottom_wrapper {
    display: flex;
  }

  &__button {
    justify-self: end;
  }

  &__scheduled {
    margin-right: 2rem;
  }

  &__progress_wrapper {
    display: flex;
    width: 25vw !important;
    margin: 0 1rem;
    align-self: flex-start;
    border: 1px solid lighten($color-gray, 25%);
  }

  &__progress_bar {
    background-color: #68a9ef;
    width: 0%;
  }
  
  &__latest_date {
    display: inline-block;
    width: 10.75rem;
  }
}
