@import "../../utilities/variables";

.button-outlined {
  background-color: white !important;
  color: $color-gray;

  &--primary {
    border: 1px solid $color-primary !important;

    &--active {
      background-color: $color-primary !important;
      color: white !important;
    }
  }

  &--success {
    border: 1px solid $color-success !important;

    &--active {
      background-color: $color-success !important;
      color: white !important;
    }
  }

  &--danger {
    border: 1px solid $color-danger !important;

    &--active {
      background-color: $color-danger !important;
      color: white !important;
    }
  }

  &--warning {
    border: 1px solid $color-warning !important;

    &--active {
      background-color: $color-warning !important;
      color: white !important;
    }
  }
}
