@import "../base/typography";
//Colors
$color-primary: #073447;
$color-secondary: #598392;
$color-success: #29B27F;
$color-danger: #B22929;
$color-warning: #FAA869;
$color-gray: #727070;

//Fonts
$lato-bold: latobold;
$lato: latoregular;
$lato-light: latolight;