@import "./typography";
@import "./reset";
@import "../utilities/variables";

body {
    font-family: $lato !important;
}

h1,h2,h3,h4,h5 {
    font-family: $lato !important;
    color: $color-gray !important;
}

