@import "../../utilities/variables" ;

.content {
<<<<<<< HEAD
  margin-top: 1.25rem;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  color: white;
}
   

.section {
    margin-top: 1.75rem;
}
=======
    margin-top: 1.25rem;
}

.section {
    margin-top: 1.75rem;
}
>>>>>>> 54d6aca60693497f57ecef8eb2db03780b13c7ee
